.catalog__wrapper {
  padding: 30px;
  padding-bottom: 0;
  position: relative;
}

.catalog__list {
  .reset-list();
}

.catalog__link {
  text-decoration: none;
}

.catalog__item-img {
  display: block;
  width: 260px;
  height: 195px;
}

.catalog__item {
  width: 260px;
  margin: 0 auto 33px;
  border: 1px solid @grey-light;
}

.catalog__product {
  padding: 28px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  font-weight: 700;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__info {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  color: @grey-dark;
  font-weight: 400;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
}

.catalog__video-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.catalog__video-presentation,
.catalog__video-shot {
  width: 100%;
  position: relative;
  display: block;
}

.catalog__video-presentation::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-size: cover;
  cursor: pointer;
}

.catalog__video {
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.catalog__video-title {
  position: relative;
  margin: 0;
  padding: 25px;
  padding-bottom: 23px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border: 1px solid @grey-light;

  &::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 13%;
    width: 32px;
    height: 32px;
    background: url("../img/icon-video.svg") no-repeat 50% 50%;
  }
}

.catalog__video-shot {
  display: block;
}

.catalog__video-info {
  padding: 34px;
  padding-top: 25px;
  margin-bottom: 58px;
  border: 1px solid @grey-light;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__video-description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @grey-dark;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .catalog__video-title {
    border-bottom: none;

    &::before {
      top: 18px;
      left: 4%;
    }
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 100%;
    margin-bottom: 54px;
  }

  .catalog__link {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
  }

  .catalog__link img {
    width: 334px;
    height: 334px;
  }

  .catalog__product {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-top: 30px;
    padding-left: 25px;
  }

  .catalog__title {
    width: 260px;
    font-size: 20px;
  }

  .catalog__info {
    font-size: 15px;
  }

  .catalog__price-wrapper {
    margin-top: auto;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog__price {
    display: inline-block;
    margin-top: auto;
    padding-top: 22px;
    width: 89%;
    font-size: 17px;
    border-top: 1px solid @grey-light;
  }

  .catalog__video-info {
    border-top: none;
  }

  .catalog__basket-icon {
    fill: @smoky;

    &:hover {
      fill: @emerald-green;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog__video {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin: 0 auto;
  }

  .catalog__video-presentation {
    order: -1;

    &:hover::after {
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:active::after {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.6;
    }
  }

  .catalog__video-description {
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__video-btn {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog__product:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__item {
    width: 316px;
    margin-bottom: 0;

    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog__link img {
    width: 316px;
    height: 462px;
  }

  .catalog__video-wrapper {
    padding-top: 60px;
    padding-bottom: 106px;
  }

  .catalog__video {
    flex-direction: row;
  }

  .catalog__video-title {
    flex-basis: 160px;
    padding-right: 152px;
    padding-top: 85px;
    font-size: 20px;
    padding-left: 51px;

    &::before {
      top: 28px;
      left: 12%;
    }

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__video-presentation {
    flex-basis: 690px;
  }

  .catalog__video-presentation img {
    width: 682px;
    height: 455px;
  }

  .catalog__video-info {
    flex-basis: 350px;
    padding-bottom: 35px;
    padding-left: 51px;
    padding-right: 0;
    border: none;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-left: -368px;
    margin-top: 170px;
  }

  .catalog__video-description {
    margin-bottom: 55px;
    width: 240px;
  }

  .catalog__video-btn {
    width: 230px;
    margin: 0;
  }
}
