.contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: top;
  background-size: auto 6px;
}

.contacts__wrapper {
  padding: 35px 30px 38px 30px;
  box-sizing: border-box;
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

.contacts__details {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px;
  color: @grey-dark;
}

.contacts__item-name {
  width: 78px;
}

.contacts__item-name,
.contacts__item-value {
  vertical-align: top;
  padding-top: 26px;
  text-align: left;
}

.contacts__mail-link {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: @dark-green;

  &:hover {
    color: @emerald-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-wrap {
  width: 100%;
  height: 457px;
  margin-bottom: 39px;
}

.contacts__map-frame {
  width: 100%;
  height: 100%;
}

.contacts__write-us-btn {
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .contacts {
    background-size: auto 17px;
  }

  .contacts__wrapper {
    padding: 59px 50px 57px 50px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: -15px;
      right: 3px;
      width: 47px;
      height: 82px;
      background: url("../img/icon-flag.svg") no-repeat 50% 50%;
    }
  }

  .contacts__details {
    font-size: 17px;
  }

  .contacts__details tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts__details tr {
    width: 50%;
  }

  .contacts__map-wrap {
    width: 100%;
    margin-bottom: 55px;
  }

  .contacts__write-us-btn {
    width: 230px;
    margin-bottom: 57px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-size: auto 23px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 51px;
    min-width: 1050px;
    max-width: 1350px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .contacts__wrapper {
    padding-left: 120px;
  }

  .contacts__title {
    line-height: 57px;
    font-size: 53px;
    order: 1;

    &::after {
      left: -107px;
    }
  }

  .contacts__details {
    order: 2;
  }

  .contacts__details tbody {
    flex-direction: column;
  }

  .contacts__details tr {
    width: 310px;
  }

  .contacts__map-wrap {
    position: absolute;
    right: 100px;
    top: 70px;
    order: 4;
    width: 525px;
    height: 457px;
  }

  .contacts__write-us-btn {
    order: 3;
    align-self: flex-end;
    width: 230px;
    margin-left: 120px;
    margin-bottom: 120px;
  }
}
