.intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: @grey-light;
}

.intro__catalog,
.intro__form {
  background-color: @grey-cloud;
}

.intro__header {
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 120px;
  width: 250px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.intro__header--catalog,
.intro__header--form {
  padding-bottom: 78px;
}

.intro__list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.intro__item--lamp {
  background-color: @light-green;
}

.intro__item--toys {
  background-color: @dark-green;
}

.intro__item a {
  text-decoration: none;
}

.intro__name {
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  width: 100px;
  padding-top: 27px;
  padding-right: 115px;
  padding-bottom: 28px;
  padding-left: 30px;
  margin: 0;
}

.intro__interior-icon,
.intro__toys-icon {
  display: none;
}
