.intro__catalog,
.intro__form {
  background-color: @grey-cloud;
}

.intro__header {
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 120px;
  width: 250px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.intro__header--catalog,
.intro__header--form {
  padding-bottom: 78px;
}

.intro__list {
  .reset-list();
  display: flex;
  flex-direction: column;
}

.intro__item--lamp {
  background-color: @light-green;
}

.intro__item--toys {
  background-color: @dark-green;
}

.intro__item a {
  text-decoration: none;
}

.intro__name {
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  width: 100px;
  padding-top: 27px;
  padding-right: 115px;
  padding-bottom: 28px;
  padding-left: 30px;
  margin: 0;
}

.intro__interior-icon,
.intro__toys-icon {
  display: none;
}

@media (min-width: @tablet-width) {
  .intro__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .intro__name {
    font-size: 20px;
    line-height: 30px;
  }

  .intro__item {
    width: 50%;

    &--lamp {
      margin-left: 50px;
    }

    &--toys {
      margin-right: 50px;
    }
  }

  .intro__header {
    padding-top: 108px;
    padding-bottom: 375px;
    font-size: 43px;
    line-height: 50px;
    width: 500px;
  }
}

@media (min-width: @desktop-width) {
  .intro__header {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 361px;
    width: 615px;
  }

  .intro__item--lamp {
    margin-left: 100px;
  }

  .intro__item--toys {
    margin-right: 100px;
  }
}
