.main-nav__item {
  text-align: left;
  border-bottom: 1px solid @grey;
}

.main-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 27px 0;
  padding-left: 46px;
  box-sizing: border-box;
  color: @black;
  text-decoration: none;
}

.main-nav__list {
  .reset-list();
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    border-bottom: none;
  }

  .main-nav__link {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link {
    font-size: 17px;
    margin-left: 50px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-right: 34px;
    border-bottom: 1px solid @grey;
  }

  .main-nav__item--order {
    border-left: 1px solid @grey;
  }

  .main-nav__item--order .main-nav__link {
    margin-left: 0;
    padding-left: 35px;
  }
}
