.page-footer {
  background-color: @grey-cloud;
}

.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo-image {
  display: none;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  border-bottom: 1px solid @grey-silver;
  padding: 0;
  padding-bottom: 24px;
  margin: 0 auto;
  list-style: none;
}

.page-footer__social-icon {
  padding: 0 21px;

  &:hover {
    fill: @mint-green;
  }

  &:active {
    fill: @mint-green;
    opacity: 0.3;
  }
}

.page-footer__social-link--insta {
  margin-left: 45px;
  margin-right: 40px;
}

.page-footer__social-link--tw {
  margin-right: 60px;
}

.page-footer__copyright {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-left: 67px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-icon {
  fill: @light-mint;

  &:hover {
    fill: @mint-green;
  }
}

.copyright__link {
  padding-left: 30px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    padding: 50px 50px 57px 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 60px;
  }

  .page-footer__logo-image {
    display: block;

    &:hover {
      fill: @mint-green;
    }

    &:active {
      fill: @mint-green;
      opacity: 0.3;
    }
  }

  .page-footer__social-list {
    border: none;
  }

  .page-footer__copyright {
    margin-left: auto;
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 50px 50px 59px 50px;
    box-sizing: border-box;
  }

  .page-footer__social-list {
    padding-left: 100px;
  }
}
