.user-nav__item {
  text-align: left;
  border-bottom: 1px solid @grey;
  padding-left: 46px;
  box-sizing: border-box;
}

.user-nav__link {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  text-decoration: none;
}

.user-nav__link--cart {
  padding: 27px 0;
}

.user-nav__list {
  .reset-list();
}

@media (min-width: @tablet-width) {
  .user-nav__list {
    display: flex;
  }

  .user-nav__search-icon,
  .user-nav__cart-icon {
    fill: @grey-cloud;
  }

  .user-nav__item--search {
    width: 84px;
    border: 1px solid @grey;
    border-top: none;
    position: relative;
  }

  .user-nav__link--search {
    font-size: 0;
    line-height: 0;
  }

  .user-nav__search-icon {
    position: absolute;
    right: 30px;
    bottom: 35px;
  }

  .user-nav__item--cart {
    border-top: none;
    position: relative;
    width: 315px;
    text-align: right;
    padding-right: 50px;
  }

  .user-nav__cart-icon {
    position: absolute;
    top: 30px;
    left: 10%;
    display: block;
    width: 20px;
    height: 19px;
  }
}

@media (min-width: @desktop-width) {
  .user-nav__item--cart a {
    padding-top: 31px;
    padding-bottom: 0;
  }
}
