.week-product__wrapper {
  padding: 0 30px;
  padding-top: 28px;
  padding-bottom: 36px;
}

.week-product__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
}

.week-product__best-offer {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: @green;
  margin-bottom: 22px;
  display: inline-block;
  vertical-align: baseline;
}

.week-product__description {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 24px;
  color: @grey-dark;
}

.week-product__table {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: @grey-dark;
  margin-bottom: 27px;
  border-collapse: collapse;
}

.week-product__option,
.week-product__value {
  border-bottom: 1px solid @grey;
  padding: 10px 0;
}

.week-product__image {
  width: 260px;
  height: 315px;
  margin-bottom: 23px;
}

.week-product__price {
  text-align: center;
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: @grey-dark;
  font-weight: bold;
  margin-bottom: 27px;
}
